#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav{
  position: fixed; 
  top: 0;              
  left: 0;             
  width: 100%;         
  color: white;        
  padding: 15px;     
  z-index: 1000;       
  text-align: center; 
  align-items: center;
}

.isolg {
  width: 300px;       
  height: auto;         
}

.isolg img {
  width: 100%;          /* La imagen tomará el 100% del ancho del contenedor */
  height: auto;         /* Mantiene la proporción de la imagen */
  max-width: 121px;     /* Máximo ancho de la imagen */
}

/* Estilos para el nav con la clase 'nav-list' */
.nav-list {
  background-color: #333;  /* Color de fondo */
  padding: 10px;           /* Espaciado interno */
}

.nav-list ul {
  list-style-type: none;   /* Eliminar viñetas de la lista */
  padding: 0;
}

.nav-list li {
  display: inline;         /* Mostrar los elementos en línea */
  margin-right: 20px;      /* Espaciado entre los elementos */
  color: white;            /* Color del texto */
}

.nav-list li:hover {
  text-decoration: underline; /* Subrayar al pasar el cursor */
}
